.custom-select {
    /* Габариты */
    position: relative;
    width: 200px;
    padding: 15px 15px;

    /* Стиль */
    background: white;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all 0.2s ease-out;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Стрелка */
.custom-select:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #674bb7 transparent;
}

.custom-select .custom-select__list {
    /* Габариты */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;

    /* Стиль */
    background: white;
    border-radius: 0 0 5px 5px;
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 0.2s ease-out;

    /* В спрятанном режиме */
    max-height: 0;
    overflow: hidden;
}

.custom-select .custom-select__list .list__elem {
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    transition: all 0.2s ease-out;
    border-bottom: 1px solid #dddfe1;
}

.custom-select .custom-select__list .list__elem:last-of-type {
    border: none;
}

.custom-select .custom-select__list .list__elem  {
    vertical-align: middle;
}

.custom-select .custom-select__list .list__elem:hover {
    background-color: #b59aff;
    color: white;
}

/* В развернутом состоянии */
.custom-select.active {
    border-radius: 5px 5px 0 0;
    background: #674bb7;
    box-shadow: none;
    border-bottom: none;
    color: white;
}

.custom-select.active:after {
    border-color: white transparent;
}

.custom-select.active .custom-select__list {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    max-height: 400px;
}